.vscode/**
.vscode-test/**
src/**
logs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
esbuild.js
package-lock.json
out/localisationEditorViewProvider.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
